<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-item>
    <ion-input [(ngModel)]="newTask" placeholder="Adicionar nova tarefa">
      
    </ion-input>

    <ion-button (click)="addTask()">
      Adicionar
    </ion-button>

  </ion-item>

  <ion-list>
   <ion-item *ngFor="let tarefa of filterTasks">
      <ion-label [ngClass]="{'completado-task': tarefa.completed}">
        {{tarefa.title}}
      </ion-label>

      <ion-button color="danger" fill="clear" (click)="deletarTask(tarefa.id)">
        <ion-icon name="trash">
      </ion-icon>
    </ion-button>

      <ion-button fill="clear" (click)="concluir(tarefa.id)">
        <ion-icon [name]="tarefa.completed ? 'checkMark-circle':'ellipse-outline'"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>

  <ion-button expanded="full" (click)="mostrarOcultar()">

    <ion-icon slot="start" [name]="exibirConcluidos ? 'eye-off':'eye'"></ion-icon>

    {{ exibirConcluidos ? 'Ocultar Concluidos' : 'Motrar Concluidos'}}

  </ion-button>

</ion-content>
